/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Oct-2016, 13:44:23
    Author     : craigrobertson
*/

body
{
    background-color: white;
}

#panda
{
    display: block;
    
    position: absolute;
    top: 35%;
    left: 37.5%;
    margin-right: -50%;
}

h1
{
    color: black;
    font-family: Verdana;
}

p{
    color: black
}
nav 
{
    text-align: left;
    border: 2px;
}

#authors
{
    position: absolute;
    bottom: 0;
    color: gray;
}

li  /*the following menu bar CSS layout based on and built upon http://www.w3schools.com/css/css_navbar.asp's helpful guide */
{
    float: left;
    
}

#diffformat
{
    float: left;
    font-family: Verdana;
    display: block;
    padding: 14px 16px;
    text-align: center;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana;
}

#welcome
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana;
    text-transform: capitalize;
}

#noformat
{
    background-color: white;
}

header
{
    
}